body {
  background-color: rgb(183, 182, 192) !important;
}

nav {
  margin: 10px;
}
.logo {
  text-align: center;
}
.logo h1 {
  font-size: 300%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}
.container h1 {
  padding-bottom: 20px;
}

.links {
  flex-direction: row;
}
.links a {
  margin: 10px;
}
.content {
  width: 80vw;
  min-width: 492px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.content div {
  width: 50vw;
  margin: 40px;
}

#about-box {
  text-align: center;
}

.hs-container {
  width: 80vw;
  min-width: 492px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #000 !important;
}
.hs-table {
  text-align: center;
  margin: 0 auto;
  color: #fff !important;
}
.hs-table th {
  padding-bottom: 15px;
  font-weight: 600 !important;
  font-size: 120% !important;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.hs-table th,
.hs-table td {
  padding-right: 10px;
  padding-left: 10px;
}
footer {
  margin: 10px;
  text-align: center;
  padding: 20px;
}
.devs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.dev {
  display: flex;
}
.dev-icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  padding: 0;
  background-color: black !important;

  border: 5px solid rgb(131, 131, 131);
  box-shadow: 0px 0px 0px 5px #000;
}

.dev-icon:hover {
  border: 5px solid #007bff;
}






.dev-name {
  text-transform: uppercase;
  text-decoration: none !important;
  color: black !important;
  letter-spacing: 2px;
}

/* Media Queries  */